# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript build info
*.tsbuildinfo
vite.config.d.ts

# Environment
frontend/.env
backend/.env

# Large media
frontend/public/videos/*
backend/uploads/*

# Misc
frontend/@/
